.gallery {
    display: inline-block;
    margin-top: 20px;
}

.edit-icon {
    border-radius: 50%;
    position: absolute;
    right: 2px;
    top: 25px;
    padding: 5px 8px;
}

.close-icon {
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: -10px;
    padding: 5px 8px;
}

.form-image-upload {
    background: #e8e8e8 none repeat scroll 0 0;
    padding: 15px;
}

.btn-search {
    background: #424242;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #1c1c1c;
}

.btn-search:link,
.btn-search:visited {
    color: #fff;
}

.btn-search:active,
.btn-search:hover {
    background: #1c1c1c;
    color: #fff;
}